.plans-container{
  display: flex;
  flex-direction: column;
  gap: 4rem;
  position: relative;
  padding: 0.2rem;
}

.plans{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.plan{
  display: flex;
  flex-direction: column;
  background: gray;
  color: white;
  gap: 2rem;
  padding: 1.5rem;
}

.plan>img{
  width: 2rem;
  height: 2rem;
}
.plan:nth-child(2){
  background: orange;
  transform: scale(1.1);
}

.plan>:nth-child(2){
  font-size: 1rem;
  font-weight: bold;
}

.plan>:nth-child(3){
  font-size: 3rem;
  font-weight: bold;
}

.plan>:nth-child(5){
  font-size: 0.8rem;
}

.plans>:nth-child(2)>button{
  color:orange;
}

.plans-blur-1{
  width: 32rem;
  height: 23rem;
  left: 0rem;
  top: 10rem;
}

.plans-blur-2{
  width: 32rem;
  height: 23rem;
  right: 0rem;
  top: 10rem;
}

@media screen and (max-width:768px){
  .plans{
    flex-direction: column;
  }
}