.header{
  display: flex;
  justify-content: space-between;
}

.header>img{
  width: 3rem;
  height: 3rem;
}

.header-menu{
  display: flex;
  gap: 2rem;
  list-style: none;
}

.header-menu li:hover{
  cursor: pointer;
  color: orange;
}

@media screen and (max-width:768px){
  .header>:nth-child(2){
    position: fixed;
    right: 2rem;
    z-index: 99;
  }
  
  .header-menu{
    flex-direction: column;
    padding: 2rem;
    background-color: gray;
  }
}